In [95]:
import pandas as pd
import datetime as dt

#le o arquivo CSV
df = pd.read_csv("df_OVNI_limpo.csv", index_col=[0])

print("Dividir o conteúdo da coluna Date / Time em duas novas colunas no mesmo dataframe e deletar a coluna Date / Time .")

#converte a coluna Data/Time que era string para o tipo datetime
df['Date / Time'] = pd.to_datetime(df['Date / Time'])

#cria uma nova coluna Sight_Date que recebera so a data no formato de string
df['Sight_Date'] = df['Date / Time'].dt.strftime('%m/%d/%Y')
#cria uma nova coluna Sight_Time que recebera a hora no formato de string
df['Sight_Time'] = df['Date / Time'].dt.strftime('%H:%M')
#exclui a coluna Data/Time
df = df.drop(columns=['Date / Time'])

#plota o dataframe
df

Dividir o conteúdo da coluna Date / Time em duas novas colunas no mesmo dataframe e deletar a coluna Date / Time .

                   City State      Shape  Sight_Date Sight_Time
1       Solomons Island    MD       Disk  09/22/1997      20:00
2          Garden Grove    CA  Rectangle  09/19/1997      00:00
4               Houston    TX       Disk  09/15/1997      00:00
5              Santa Fe    NM      Light  09/15/1997      20:00
6                  Kent    WA     Sphere  09/15/1997      20:00
...                 ...   ...        ...         ...        ...
71895  Columbus (North)    GA   Fireball  08/01/2017      06:15
71896          Corcoran    MN      Light  08/01/2017      02:45
71897     Moreno Valley    CA      Other  08/01/2017      02:00
71898         Bradenton    FL      Other  08/01/2017      01:00
71900            Laurel    MD      Other  08/01/2017      00:00

[54940 rows x 5 columns]

In [96]:
print("Fazer o mesmo procedimento para dias da semana. Será que existe um dia da semana com mais ocorrências de relatórios para OVNIs? Para descobrir isso, você deve criar uma nova coluna chamada weekdays.")

#converte o tipo da coluna Sight_Date para datetime
df['Sight_Date'] = pd.to_datetime(df['Sight_Date'])

#cria um array com os nomes da semana em portugues
dias = ['Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo']

#criar uma nova coluna Sight_weekday que recebe os dias da semana representados por numeros de 0 a 6
df['Sight_Weekday'] = df['Sight_Date'].dt.dayofweek

#cria um for que insere o nome de todos os dias da semana baseado no indice do vetor no qual sera fornecido pela coluna criada acima
for i in df.itertuples():
  df.Sight_Weekday[i.Index] = dias[df.Sight_Weekday[i.Index]]

#plota o dataframe
df

Fazer o mesmo procedimento para dias da semana. Será que existe um dia da semana com mais ocorrências de relatórios para OVNIs? Para descobrir isso, você deve criar uma nova coluna chamada weekdays.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

                   City State      Shape Sight_Date Sight_Time  Sight_Weekday
1       Solomons Island    MD       Disk 1997-09-22      20:00  Segunda-feira
2          Garden Grove    CA  Rectangle 1997-09-19      00:00    Sexta-feira
4               Houston    TX       Disk 1997-09-15      00:00  Segunda-feira
5              Santa Fe    NM      Light 1997-09-15      20:00  Segunda-feira
6                  Kent    WA     Sphere 1997-09-15      20:00  Segunda-feira
...                 ...   ...        ...        ...        ...            ...
71895  Columbus (North)    GA   Fireball 2017-08-01      06:15    Terça-feira
71896          Corcoran    MN      Light 2017-08-01      02:45    Terça-feira
71897     Moreno Valley    CA      Other 2017-08-01      02:00    Terça-feira
71898         Bradenton    FL      Other 2017-08-01      01:00    Terça-feira
71900            Laurel    MD      Other 2017-08-01      00:00    Terça-feira

[54940 rows x 6 columns]

In [97]:
print("Separar as variáveis mês (Month) e dia (Day). Desse modo, será possível refinar as pesquisas.")

#cria uma nova coluna Sight_Day na qual recebe o dia separado da data
df['Sight_Day'] = df['Sight_Date'].dt.day
#cria uma nova coluna Sight_Month na qual recebe o mes separado da data
df['Sight_Month'] = df['Sight_Date'].dt.month

#plota o dataframe
df

Separar as variáveis mês (Month) e dia (Day). Desse modo, será possível refinar as pesquisas.

                   City State      Shape  ...  Sight_Weekday Sight_Day Sight_Month
1       Solomons Island    MD       Disk  ...  Segunda-feira        22           9
2          Garden Grove    CA  Rectangle  ...    Sexta-feira        19           9
4               Houston    TX       Disk  ...  Segunda-feira        15           9
5              Santa Fe    NM      Light  ...  Segunda-feira        15           9
6                  Kent    WA     Sphere  ...  Segunda-feira        15           9
...                 ...   ...        ...  ...            ...       ...         ...
71895  Columbus (North)    GA   Fireball  ...    Terça-feira         1           8
71896          Corcoran    MN      Light  ...    Terça-feira         1           8
71897     Moreno Valley    CA      Other  ...    Terça-feira         1           8
71898         Bradenton    FL      Other  ...    Terça-feira         1           8
71900            Laurel    MD      Other  ...    Terça-feira         1           8

[54940 rows x 8 columns]

In [98]:
print("Por fim, salvar o dataframe resultante em um arquivo .csv com o nome: 'df_OVNI_preparado'.")

#gera arquivo CSV
df.to_csv("df_OVNI_preparado.csv")

Por fim, salvar o dataframe resultante em um arquivo .csv com o nome: 'df_OVNI_preparado'.